<div class="container">
    <div class="card-header bg-black">
        <h1>Quotes</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia impedit quasi facere dolorum harum doloribus dignissimos ut et atque est quis nulla eos quaerat ipsa obcaecati repellat suscipit, quidem modi?</p>
            <div *ngFor='let quotes of quote;let i=index'>
                <app-quote-detail *ngIf=quote.showDescription [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quote-detail>
            </div>
        </div>
    </div>
</div>