<div class="container">
    <div class="card-header text-white text-center">
        <h1>Quotes</h1>
    </div>
    <div class="row">

        <h6>
            <p><strong>To quote means to repeat someone’s words, attributing them to their originator</strong> </p>
        </h6>
        <div class="row">

            <div class="col-md-4 mb-2 mt-2" *ngFor='let quote of quotes;let i=index'>
                <div>
                    <h4 id={{i}} appHighlight>{{quote.name}} posted on{{quote.completeDate|date}}</h4>
                    <button (click)='toggleDetails(i)' class="btn btn-success">view Quote</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (IsComplete)='deleteQuote($event,i)'>
                    </app-quote-detail>
                </div>
            </div>
        </div>
        <app-quote-form (addQuote)='onSubmit($event)'></app-quote-form>
    </div>
</div>