<div class="container">
    <div class="card-header bg-black">
        <h1>Quotes</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>To quote means to repeat someone’s words, attributing them to their originator</p>

            <div *ngFor='let quote of quotes;let i=index'>
                <h4 id={{i}} appHighlight>{{quote.name}} posted on{{quote.completeDate|date}}</h4>
                <button (click)='toggleDetails(i)' class="btn btn-info">Toggle Details</button>
                <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quote-detail>
            </div>
        </div>
    </div>
</div>