/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("https://images.unsplash.com/photo-1555081944-c0c2f00d06e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjAxfHxxdW90ZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}