<div class="container-fluid">
    <h2 class="text-center">Add a New Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote(quoteForm.value)' #quoteForm='ngForm'>
        <div class="form-group">


            <label for="name">Author</label>
            <input type="text" required class="form-control" id="author" required ngModel name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name is Required</p>
            </div>
            <!-- Display {{newQuote.name}} -->
        </div>
        <hr>
        <div class="form-group">

            <label for="description">Description</label>
            <textarea required class="form-control" id="description" ngModel name="description" #description='ngModel' required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p>Description is required</p>
            </div>
            <!-- Display {{newQuote.description}} -->
        </div>
        <hr>
        <div class="form-group">
            <label for="personName"> Name </label>
            <input type="text" required class="form-control" id="personName" ngModel #personName='ngModel' required>
            <div [hidden]="personName.valid || personName.pristine" class="alert alert-danger">
                <p>persons name required</p>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="complete">Date Posted</label>
            <input type='date' id="complete" ngModel name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
            </div>
        </div>

        <button type="submit" class="btn btn-info">Add Quote</button>
    </form>
</div>